ion-list:first-child {
  margin-top: 32px;
}

ion-list + ion-list {
  margin-top: 0;
}

.start-station {
  width: 100%;
  height: 6rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: solid 1.5px #012456;
  border-radius: 5px;
  color: #012456;
  margin-top: 30%;
}

.end-station {
  width: 100%;
  height: 6rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: solid 1.5px #148ba8;
  border-radius: 5px;
  color: #148ba8;
  margin: 1.5rem 0 3rem 0;
}

.change-station {
  font-weight: bold;
  background-color: #20B2AA;
}

.search-btn {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  // background-color: #148ba8;
  background-color: #3f50b5;
  border-radius: 5px;
}

[icon-start] ion-icon {
  font-size: 2em;
}
